
.banner-content h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: var(--black);
    margin-bottom: 21px;
}
.banner-content p{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;  
    color: rgba(29, 29, 29, 0.7);
    width: 400px;
    margin-bottom: 23px;
}
.btn-start{
    background: #FFCB45;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
    padding: 10px 24px;
}


@media (min-width: 320px) and (max-width: 576px){
    .banner-content{
        text-align: center;
        margin-bottom: 40px;  
    }
    .banner-content h2{
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
        text-align: center;
        color: var(--black);
        margin-bottom: 21px;
    }
    .banner-content p{
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        line-height: 26px;  
        color: rgba(29, 29, 29, 0.7);
        width: 100%;
        margin-bottom: 20px;
    }
}