@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

:root{
    --yellow : #FFCB45;
    --offset-white : #FCE8D9;
    --black : #1D1D1D;
    --offset-black : #616161;
    --offset-deep : #FFF9EA;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}