@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --yellow : #FFCB45;
    --offset-white : #FCE8D9;
    --black : #1D1D1D;
    --offset-black : #616161;
    --offset-deep : #FFF9EA;
}